guitars {
  background-color: #ffffff;
  width: 100%;
}

mfg {
  display: block;
  color: #800080;
  font-size: 20pt;
}

model {
  display: block;
  color: #9289ff;
  font-size: 16pt;
}

year,
price,
pickup {
  display: block;
  color: #000000;
  margin-left: 20pt;
}